

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; /* Full screen height */
    background-color: #000000;
}



.video-container iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 56.25vw; /* 16:9 ratio */
    min-height: 100vh;
    min-width: 177.77vh; /* 16:9 ratio */
    transform: translate(-50%, -50%);
    z-index: -1;
}

.text-overlay1 h1 {
    font-size: 80px;
    font-weight: bold;
    color: #ffffff;
}

.text-overlay1 p {
    font-size: 30px;
    color: rgb(255, 255, 255);
}


/* styles.css */

/* Style for the contact button */
.contact-btn {
    background-color: #f11313; 
    border: none;
    color: rgb(255, 253, 253);
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5px;
    margin: 5px 40px ;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.5s ease; /* Smooth transition for background color */
  }
  
  .contact-btn:hover {
    background-color: #000000dc; /* Darker green on hover */
    color: #ffffff;
    
  }
  
  /* Animation effect */
  @keyframes zoominout {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .contact-btn a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
    animation: zoominout 3s infinite; /* Apply animation effect */
  }
  



.show {
    display: block;
}

