/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Navigation Bar */
.navbar {
    background: #282c34;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
    font-size: 24px;
}

.navbar .nav-links a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.navbar .nav-links a:hover {
    color: #61dafb;
}

/* Main Heading */
.main-heading {
    text-align: center;
    margin: 2rem 0;
}

.main-heading h1 {
    color: #333333;
    font-size: 3rem;
}

/* Card Section */
.card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}

.card {
    background: #ffffff;
    border-radius: 15px;
    padding: 2rem;
    margin: 1rem;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
}

.card h3 {
    color: #333;
    margin-bottom: 1rem;
    font-size: 20px;
}

.card button {
    background-color: #040505;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card button:hover {
    background-color: #f14021;
}

/* Footer */
.footer {
    background: #282c34;
    color: white;
    text-align: center;
    padding: 1.5rem;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
}

.footer p {
    margin: 0;
    font-size: 14px;
}
