/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #ffffff;
    overflow: hidden;
    height: 50px; /* Adjust the height here */
    display: flex; /* Use flexbox layout */
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Distribute space between items */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Use flexbox layout for the list */
    align-items: center; /* Center items vertically */
    flex-grow: 1; /* Allow the ul to grow */
}

nav ul li {
    margin-right: 20px; /* Add some margin between items */
}

nav ul li a {
    display: block;
    color: rgb(8, 7, 7);
    text-align: right;
    padding: 15px 20px; /* Reduce padding here */
    text-decoration: none;
    line-height: 20px; /* Add this to reduce the height of the link */
}


nav ul li a:hover {
    background-color: #f12323;
}

nav ul li img {
    height: 30px; /* Reduce the height of the image */
    width: 90%;
    padding: 15px 20px; /* Reduce padding here */
    text-decoration: none;
}

nav ul li button {
    margin-left: auto; /* Push the button to the right */
}


nav ul li button {
    background-color:#000000;
    color: rgb(255, 252, 252);
    border: none;
    border-radius: 8px;
    border: 1px solid #030303;
    padding: 15px 20px;
    display: inline-block;
    text-align: center;
}

nav ul li button:hover {
    background-color:#f12323;
    color: #070707;
}
.video-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Make the container cover the full viewport height */
    overflow: hidden; /* Hide any overflow content */
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.text-overlay {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; /* White text */
}

.text-overlay h1 {
    font-size: 60px;
    font-weight: bold;
    font-family: Garamond, serif;
}

.text-overlay p {
    font-size: 30px;
    color: rgb(255, 255, 28);
}


.dropbtn {
    background-color: #f12323;
    color: white;
    padding: 14px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(255, 254, 254);
    background-color: #070707;
    padding: 14px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color:#fff
 
}

.show {
    display: block;
}

